<!DOCTYPE html>
<html lang="{{ lang }}">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/assets/css/style.css" rel="stylesheet"> 
    <link href="/assets/css/code.css" rel="stylesheet">
    <link href="/assets/css/photoswipe.css" rel="stylesheet">
    <title>{{ title }}</title> 
  </head>

  <body>

    <header>
      <div class="sitename"><a href="/{{ lang }}/">jcusnxj</a></div>
      {% include "partials/_hamburger_icon.njk" %}
      <div class="menu-area">
      <nav>{% include "partials/_sidebar_mobile_screen.njk" %}</nav>
      </div>
      {% include "partials/_language.njk" %}
    </header>
     
    <div class="container">

      <div class="sidebar">
        <nav>{% include "partials/_sidebar.njk" %}</nav>
      </div>

      <div class="content">

        <main>
          {% block content %}
          <article>
          <h1>{{ title }}</h1>
          <hr>
          {{ content | safe }} 
          </article>
          {% endblock %}     
        </main>

      </div>
     </div>

    <footer>
      {% include "partials/_footer.njk" %}
    </footer>

  <script type="module" src="/assets/js/index.js"></script>

  </body>

</html>